@using DnD_NPC_Generator.Models
@model DnD_NPC_Generator.Models.NPCListView
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section Styles {
    <link rel="stylesheet" href="~/css/npc-view.css" />"
}

<h1>Administrator View</h1>
<p>From this view you can see all of the NPCs, regardless of owner.</p>
<h2>List of NPCs</h2>
<div id="npc-cards">
    @if (Model.NPCs != null && Model.NPCs.Any())
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Owned By</th>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Race</th>
                    <th>Level</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.NPCs.Count(); i++)
                {
                    <tr>
                        <td>@ViewBag.UserNameList[i]</td>
                        <td>@Model.NPCs[i].Name</td>
                        <td>@Model.NPCs[i].NPCClass.Name</td>
                        <td>@Model.NPCs[i].NPCRace.Name</td>
                        <td>@Model.NPCs[i].Level</td>
                        <td>
                            <a asp-area="" asp-controller="NPC" asp-action="Edit" asp-route-id="@Model.NPCs[i].NPCId">Edit</a>
                            <a asp-area="" asp-controller="NPC" asp-action="Delete" asp-route-id="@Model.NPCs[i].NPCId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No NPCs found.</p>
    }
</div>

